.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
i.fa {
  font-size: 25px;
  color: #000;
}
button.btn {
  background-color: #FFF;
}

.form-check-input {
  margin-left: 0;
}
ul {
  list-style-type: inside;
  padding-left:0;
}
.card {
  border: 1px solid #808080;
  margin: 20px 0;
  ul {
    list-style-type: none;
  }
}
.card-header {
  padding: 20px;
  background-color: #BDBDBD;
  border-bottom: 1px solid #808080;
  margin: 0px;
}
.card-body {
  padding: 20px;
  margin: 0px
}
label.card-label {
  font-weight: bold;
}

h1 {
  padding: 20px 0;
}
